/* Custom css */

body {
  background-color: #0E5179;
  height: 100%;
}
 
.container {
  padding-bottom: 10em;
}
 
h2 {
  display: block;
  font-family: "Lobster", cursive;
  color: #5691B4;
  background-color: #202020;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  margin: 0px;
  box-shadow: 5px 0px 5px #000;
}

p {
  font-family: "Ubuntu", sans-serif;
  margin: 20px;
}

li {
  font-family: "Ubuntu", sans-serif;
}

a {
  color: #0E5179;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  text-shadow: 1px 1px #5691B4;
  transition: 0.2s;
}

.footers {
  font-family: "Ubuntu", sans-serif;
  z-index: 10;
  color: #A0A0A0;
  left: 0px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: block;
  background-color: #202020;
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 0px 5px #000;
  height: 54px;
}

.footer-image {
  float: right;
  opacity: 0.6;
  height: 54px;
  transition: 0.5s;
  position: relative;
}

.footer-image:hover {
  opacity: 1;
  transition: 0.5s;
}



 /*
 *  Liquid Slider v2
 *  Copyright 2012 Kevin Batdorf
 *  http://liquidslider.com
 *  MIT license
 */
.ls-preloader {  
  background: url(../images/loading.gif) #f2f2f2 no-repeat center 50%;
  opacity:1;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}

/*** Containers ***/
.ls-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.liquid-slider {
  background: #F0F0F0;
  width: 800px;
  margin: 0;
  float: left;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #000;
}
.arrows .liquid-slider {
  /* Margin between slider and arrows */
  margin: 0 10px;
}
.ls-responsive .liquid-slider {
  width: 90%;
  height: 90%;
  margin: 0;
  left: 5%;
}
.panel-container {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  /* from http://davidwalsh.name/translate3d */
}
.liquid-slider .panel-container .fade {
  width:100%;
  opacity: 0;
  position: absolute;
  top: 0; 
  left: 0;
  display: block;
}

/*** Panels ***/
.liquid-slider .ls-panel {  
  width: 800px;
  display: block;
  float: left;
  background-color: #F0F0F0;
}
.panel-wrapper {  
  padding: 0px;
  position:relative;
}

/*** Tabbed Navigation ***/
.ls-nav {
  overflow:hidden;
  clear:both;
  font-family: "Ubuntu", sans-serif;
  width: 540px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.ls-nav a {
  opacity: 0.25;
  border-radius: 1px 1px 0px 0px;
  color: #FFF;
  margin-right: 1px;
  padding: 3px 6px;  
  outline: 0;
  transition: 0.5s;
}
.ls-nav a:hover {
  opacity: 1;
  transition: 0.5s;
}
.ls-nav .current a {
  opacity: 1;
  background: #5691B4;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.5s;
}
.currentCrossLink {
  font-weight: bold;
}
.ls-nav ul {  
  padding:0;
  clear: both;
  display: block;
  margin: 0;
  overflow: hidden;
}
.ls-nav ul li {
  display: inline;
}
.ls-nav ul li a {
  display: block;
  float: left;
  text-decoration: none;
}

/*** Mobile Navigation ***/
.ls-select-box { 
  width: 100%;
  height: 35px;
  overflow: hidden;
  background: url(../img/menu.png) no-repeat right #ddd;
}
.ls-select-box select {  
  width: 150%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  background: transparent;
  padding: 5px;
  font-size: 110%;
  border: none;
  height: 35px;
  cursor:pointer;
  outline: 0;
}

/*** Arrow Navigation (non-graphical) ***/
.ls-nav-left, .ls-nav-right {
  top:0;
  float: left;
  clear:both;
}
.ls-nav-left a, .ls-nav-right a {
  background: #000;
  color: #fff;
  padding: 5px;
  width: 100px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.ls-responsive .ls-nav-left {
  position: absolute;
  left: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-left a {
  background: #9A9A9A;
  width: 80px;
}
.ls-responsive .ls-nav-left a:hover {
  background: #747474;
}
.ls-responsive .ls-nav-right {
  position: absolute;
  right: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-right a {
  background: #9A9A9A;
  width: 80px;
}
.ls-responsive .ls-nav-right a:hover {
  background: #747474;
}

/*** Arrow Navigation (graphical) ***/
.ls-nav-left-arrow, .ls-nav-right-arrow {
  cursor: pointer;
  float: left;
  clear: both;
}
.ls-nav-left-arrow a, .ls-nav-right-arrow a {
  display: block;
}
[class$="-arrow"] {
  width: 25px;
  height: 25px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  margin-top: 50px;
  position:relative;
}
.ls-nav-right-arrow {
  background-position: top right;  
  margin-right: 5px;
}
.ls-nav-left-arrow {
  background-position: top left;  
  margin-left: 5px;
}
.ls-nav-left-arrow:hover {
  background-position: bottom left;
}
.ls-nav-right-arrow:hover {
  background-position: bottom right;
}
.ls-responsive .ls-nav-left-arrow {
  position: absolute;
  left: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-right-arrow {
  position: absolute;
  right: 0;
  z-index: 2;
}
