@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    color: #FFF;
    font-family: "Lato", sans-serif;
}

a {
    cursor: pointer;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #222;
}

body {
    height: 100%;
    margin: 0;
}

h1 {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    cursor: default;
    padding: 5px;
    margin: 13px;

    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;

    background: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #FFF;
    border-top: 2px solid rgba(0, 0, 0, 0);
    z-index: 10;
    
    transition: 0.5s;
}

.nav {
    margin: 0;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    transition: 0.5s;
    display: none;
}

#home {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background: url("../img/background.jpg") left top no-repeat;
}

.dark-rect {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

.title {
    margin-top: 35vh;
    width: 100%;
    text-align: center;
}

.title > h2 {
    display: inline-block;

    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.3em;
}

.title > .button {
   display: inline-block;
   width: 150px;
   font-family: "Lato", sans-serif;
   text-decoration: none;
   text-transform: uppercase;
   border: 2px solid #FFF;
   padding: 10px;
   margin: 10px;
   transition: 0.5s;
}

.title > .button:hover {
   background: #000;
   border: 2px solid #000;
   transition: 0.5s;
}

#about {
    position: relative;
    margin-top: calc(100vh - 115px);
    width: 100%;
    /*height: calc(100vh - 80px);*/
    padding-top: 95px;
    z-index: 1;
}

#about > .content {
    margin: 0 auto;
    padding: 10px 20%;
    text-align: right;
    background: #EEE;
    padding-bottom: 50px;
}

#about > .content > img {
    height: 75px;
    width: 75px;
    background: #666;
    border-radius: 400px;
    border: 5px solid #FFF;
    margin-top: -57px;
    float: left;
}

.content > p {
    font-family: "Lato", sans-serif;
}

.content > h2 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 60px 0px;
}

#about > .content > p, #contact > .content > p {
    color: #444;
}

#about > .content > h2, #contact > .content > h2 {
    color: #444;
}

.skills-container {
    text-align: center;
}

.skills-table {
    width: 30%;
    margin: 0 5%;
    min-width: 200px;
    text-align: left;
    display: inline-block;
}

.skills-table td {
    color: #444;
    width: 100%;
}

.skills {
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    width: calc(45% - 40px);
    /*min-width: 200px;*/
    text-align: left;
    padding: 20px;
}

.skills > p {
    color: #444;
}

.stat {
    display: inline-block;
    background: #555;
    color: rgba(0, 0, 0, 0);
    width: auto;
    cursor: default;
    height: 10px;
}

#portfolio {
    position: relative;
    width: 100%;
    background: #111;
}

#portfolio > .content {
    width: 100%;
    text-align: center;
}

.project-container {
    background: #222;
    display: inline-block;
    position: relative;
    width: 90%;
    max-width: 300px;
    max-height: 300px;
    /*border: 2px solid #FFF;*/
    margin: 1.5%;
}

.project {
    position: absolute;
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.project:hover {
    background: rgba(0, 0, 0, 0.8);
}

.project-container > img {
    width: 100%;
}

.project p {
    position: absolute;
    width: 100%;
    margin-top: 30%;
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.project > h3 {
    position: absolute;
    width: 100%;
    margin-top: 40%;
    color: rgba(0, 0, 0, 0);
    font-size: 1.2em;
    text-transform: uppercase;
    transition: 0.5s;
}

.project a {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: rgba(0, 0, 0, 0);
    margin-top: 50%;
    transition: 0.5s;
}

.project a:hover {
    border: 2px solid #FFF;
}

.project:hover p, .project:hover h3, .project:hover a {
    color: #EEE;
}

#contact {
    position: relative;
    /*top: calc(300vh - 240px);*/
    width: 100%;
    background: #EEE;
}

#contact > .content {
    text-align: center;
    padding-bottom: 50px;
}

#contact > .content > a > img {
    transform: scale(0.5);
    transition: 0.5s;
}

#contact > .content > a > img:hover {
    transform: scale(0.7);
    transition: 0.5s;
}

.form-input {
    background: #222;
    max-width: 600px;
    width: 90%;
    margin: 0px auto 40px;
    display: block;
    height: 50px;
}

.form-input label {
    width: 30%;
    float: left;
    padding: 15px 0;
    text-transform: uppercase;
}

.form-input input {
    height: calc(100% - 20px);
    width: calc(70% - 20px);
    border: none;
    color: #222;
    padding: 10px;
    font-size: 1.3em;
}

.form-input button {
    background: none;
    border: 2px solid #222;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    font-size: 1em;
    transition: 0.5s;
}

.form-input button:hover {
    cursor: pointer;
    background: #000;
    border: 2px solid #FFF;
    transition: 0.5s;
}

.form-input + .msg {
    height: 250px;
}

textarea {
    resize: none;
    height: calc(100% - 20px);
    width: calc(70% - 20px);
    border: none;
    padding: 10px;
    color: #222;
    font-size: 1.3em;
}


/* non-mobile */
@media only screen and (min-width: 48em) {
    
    #about {
        margin-top: calc(100vh - (80px + 95px));
    }
    
    #about > .content > img {
        width: 150px;
        height: 150px;
        margin-top: -95px;
    }
    
    h1 {
        background: none;
    }
    
    .nav {
        display: block;
    }

    .nav > a {
        display: inline-block;
        cursor: pointer;
        
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        
        border: 2px solid rgba(0, 0, 0, 0);
        
        height: 100%;
        padding: 10px;
        margin: 10px;
        transition: 0.5s;
    }
    
    .nav > a:hover {
        border: 2px solid #FFF;
        transition: 0.5s;
    }

}
