a {
  color: #5691B4;
  font-weight: 400;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  text-shadow: 1px 1px #000;
}
h2 {
  color: #5691B4;
  font-family: "Lobster", cursive;
  font-size: 50px;
  text-align: center;
}
li {
  color:#f0e7d5;
}
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  color:#f0e7d5;
}
.footers {
  opacity: 0.7;
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: -1;
}
.footers .left {
  left: 0px;
  margin-left: 10px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
.footers .right {
  right: 0px;
  margin-right: 10px;
  position: fixed;
  bottom: 0px;
}
.footers .middle {
  margin-right: auto;
  margin-left: auto;
  width: 144px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.overlay {
  position: fixed;
  width:100%;
  height:100%;
  left: 0;
  top: 0;
  z-index: -99;
  background: #041D37;
}
.animation {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -540px;
  margin-left: -960px;
  z-index: -99;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.75);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.enlarge-image {  
  float: left;
  opacity: .75;
  width: 48px;
  height: 48px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.enlarge-image:hover {
  opacity: 1;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a:hover {
  color: #6998B4;
  text-shadow: 1px 1px #2B5F7E;
}
.coda-slider-wrapper {
  padding: 10% 0; 
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
  .coda-slider-wrapper .coda-slider {
    background: rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.75);
    width: 700px; 
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
  }
    .coda-slider-wrapper .coda-slider .panel {
      width: 700px; 
    }
      .coda-slider-wrapper .coda-slider .panel .panel-wrapper {
        padding: 0 20px; 
      }
  .coda-slider-wrapper .coda-nav {
  }
    .coda-slider-wrapper .coda-nav .current {
      /*background: rgba(105, 152, 180, .25);*/
      background: linear-gradient(rgba(50, 50, 50, 0.25), rgba(0, 0, 0, 0));
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff;
      opacity: 1;
      padding-left: 20px;
      padding-right: 20px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
    }
    .coda-slider-wrapper .coda-nav a {
      opacity: 0.25;
      text-shadow: 0px 0px #000;
      /*background: #6998B4;*/
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff;
      margin-right: 1px;
      padding: 3px 6px; 
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
    }
    .coda-slider-wrapper .coda-nav a:hover {
      opacity: 1;
      /*background: #5691B4;*/
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff;
      text-shadow: none; 
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
    }
  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right {
  }
    .coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {
      background: #000;
      color: #fff;
      padding: 5px;
      width: 100px; 
    }
  .coda-slider-wrapper .coda-nav-left-arrow {
    width: 40px;
    height: 40px;
    background: url(../img/arrow.png) no-repeat top left; 
    margin-top:80px;
    margin-left: 10px;
    margin-right:10px;
  }
.coda-slider-wrapper .coda-nav-left-arrow a {
    width: 0;
    height: 0;
    border:none;
  }
  .coda-slider-wrapper .coda-nav-left-arrow:hover {
    background: url(../img/arrow.png) no-repeat bottom left; 
  }
  .coda-slider-wrapper .coda-nav-right-arrow {
    width: 40px;
    height: 40px;
    background: url(../img/arrow.png) no-repeat top right; 
    margin-top:80px;
    margin-right:10px;
    margin-left: 10px;
  }
.coda-slider-wrapper .coda-nav-right-arrow a {
    width: 0;
    height: 0;
    background: none; 
    margin-top:0;
    border:none;
  }
  .coda-slider-wrapper .coda-nav-right-arrow:hover {
    background: url(../img/arrow.png) no-repeat bottom right; 
  }
  .coda-slider-wrapper .coda-nav-left-arrow:active, .coda-slider-wrapper .coda-nav-right-arrow:active {
    margin-top: 80px; 
  }
  .coda-slider-wrapper .loading {
    height: 100%;
    padding: 20px;
    text-align: center; 
  }
.arrows .coda-slider {
  margin: 0 10px; 
}
.coda-slider-wrapper {
  clear: both;
  overflow: auto; 
}
  .coda-slider-wrapper .coda-slider {
    float: left;
    overflow: hidden;
    position: relative; 
  }
    .coda-slider-wrapper .coda-slider .panel-container {
      position: relative; 
    }
      .coda-slider-wrapper .coda-slider .panel-container .panel {
        display: block;
        float: left; 
      }
  .coda-slider-wrapper .coda-nav {
  }
    .coda-slider-wrapper .coda-nav ul {
      padding:0;
      clear: both;
      display: block;
      margin: auto;
      overflow: hidden; 
      width:1000px;
    }
      .coda-slider-wrapper .coda-nav ul li {
        display: inline; 
      }
        .coda-slider-wrapper .coda-nav ul li a {
          display: block;
          float: left;
          text-decoration: none; 
        }
  .coda-slider-wrapper .coda-nav-left-arrow, .coda-slider-wrapper .coda-nav-right-arrow {
    cursor: pointer;
    float: left;
  }
    .coda-slider-wrapper .coda-nav-left-arrow a, .coda-slider-wrapper .coda-nav-right-arrow a {
      display: block; 
    }
  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-right {
    float: left; 
  }
    .coda-slider-wrapper .coda-nav-left a, .coda-slider-wrapper .coda-nav-right a {
      display: block;
      text-align: center;
      text-decoration: none; 
    }
  .coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-left-arrow {
    clear: both; 
  }