* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    --base-color: #222;

    background: #222;
    color: white;

    -webkit-font-smoothing: antialiased;

    @media (min-width: $screen-sm) {
        display: flex;
        flex-direction: row;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    canvas {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
}

h1.title {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
    &.site-sub {
        text-transform: none;
        font-size: 24px;
    }
}

.scroll-indicator {
    position: fixed;
    height: 50px;
    right: 50px;
    width: 4px;
    background: var(--base-color);
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    &.down {
        bottom: 20px;
        .progress {
            top: 0;
        }
    }
    &.up {
        top: 20px;
        .progress {
            bottom: 0;
        }
    }
    .progress {
        position: absolute;
        background: white;
        left: 0;
        width: 4px;
        border-radius: 4px;
        transition: 0.1s linear;
    }
}