@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Atomic+Age|Comfortaa|Expletus+Sans|Oleo+Script|Satisfy|Unica+One');
$white: #FFF;
$off-white: #EEF;
$blue: #0172FF;
/*$blue: #666;*/
$light-blue: #0f88f2;
$shadow: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.3);
$drop-shadow: 0 1px 5px $shadow-2;
$transparent: rgba(0, 0, 0, 0);

* { box-sizing: border-box; }
body {
  background: $blue;
  color: $white;
}
.clear {
  clear: both;
}
.nav {
  position: fixed;
  width: 100%;
  padding: 10px;
  font-family: "Comfortaa";
  text-align: right;
  transition: 0.5s;
  z-index: 1;
  h1 {
    font-family:'Amatic SC';
    float: left;
    margin: 10px;
    color: $blue;
  }
  .nav-btn {
    border-color: $transparent;
    &:hover,
    &:focus {
      border-color: $white;
    }
    &:active,
    &:visited {
      background-color: $white;
      color: $blue;
      border-color: $blue;
    }
  }
  &.solid {
    background: $white;
    .nav-btn {
      color: $blue;
      &:hover,
      &:focus {
        border-color: $blue;
      }
      &:active {
        background: $blue;
        color: $white;
      }
    }
  }
}
@media (max-width: 570px) {
  .nav {
    h1 {
      display: none;
    }
  }
}
@media (max-width: 430px) {
  .nav {
    display: none;
  }
}
.title-card-container {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  .title {
    display: block;
    font-size: 5em;
    font-family:'Amatic SC';
  }
  .blurb {
    font-family: "Comfortaa";
  }
}
.down {
  position: absolute;
  font-size: 3em;
  bottom: 10px;
  left: 50%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: baseline;
  transform: translateX(-50%);
  font-family: "Comfortaa";
  border-radius: 50%;
  transition: 0.1s;
  &:hover,
  &:focus {
    background: $white;
    color: $blue;
    cursor: pointer;
  }
  p {
    margin: 0.15em;
  }
}
.pages {
  position: absolute;
  top: 100vh;
  width: 100%;
  .page {
    padding: 5%;
    text-align: center;
    .sub-page {
      padding: 0 2.5%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      h1 {
        font-family: "Satisfy";
      }
      .content {
        font-family: "Comfortaa";
        text-align: justify;
        .tab-skill {
          color: $blue;
          background: $white;
          padding: 2px 5px;
          margin: 2px;
          display: inline-block;
          border-radius: 3px;
        }
      }
    }
    &.alternate {
      background: $white;
      color: $blue;
    }
  }
}
.portfolio {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  .item {
    border-bottom: 1px solid $blue;
    padding: 5%;
    text-align: center;
    .pure-u-md-1-3 {
      margin-left: auto;
      margin-right: auto;
      float: left;
      @media (max-width: 768px) {
        float: none !important;
      }
    }
    .pure-u-md-2-3 {
      float: left;
      @media (max-width: 768px) {
        float: none !important;
      }
    }
    &:last-child {
      border-bottom: none;
    }
    img {
      border-radius: 3px;
      border: 1px solid $blue;
      width: 90%;
      margin: 5%;
      height: auto;
    }
    .content {
      padding: 2%;
    }
    h1 {
      text-align: center;
      font-size: 1.5em;
    }
    &:nth-child(even) {
      .pure-u-md-1-3 {
        float: right;
        @media (max-width: 768px) {
          float: none !important;
        }
      }
      .pure-u-md-2-3 {
        float: left;
        @media (max-width: 768px) {
          float: none !important;
        }
      }
    }
  }
}
form {
  .form-input {
    display: block;
    height: 50px;
    margin: 0 auto 40px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    position: relative;
    label {
      /*float: left;*/
      padding: 15px 0;
      width: 70%;
      position: absolute;
      z-index: -1;
      opacity: 1;
      transition: 0.5s;
    }
    label.isfilled {
      opacity: 0;
    }
    textarea,
    button,
    input {
      border: 1px solid $white;
      background: $transparent;
      color: $white;
      font-size: 1.3em;
      height: 100%;
      padding: 15px;
      width: 70%;
      margin: 0;
      border-radius: 5px;
      &:focus {
        outline: none;
        box-shadow: $drop-shadow;
      }
    }
    button {
      text-transform: lowercase;
      &:hover {
        background: $white;
        color: $blue;
      }
      &:active {
        box-shadow: $drop-shadow;
      }
    }
    &.msg {
      height: 250px;
    }
  }
}
.daft,
.ext-link {
  width: 100%;
  max-width: 100px;
  height: auto;
  image-rendering: pixelated;
}
.ext-link {
  transform: scale(0.5);
  transition: 0.1s;
  &:hover,
  &:focus {
    transform: scale(0.6);
  }
}
button,
.btn {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: 0.1s;
  &:hover {
    cursor: pointer;
  }
  &.outline {
    color: $white;
    border-color: $white;
    &:hover,
    &:focus {
      color: $blue;
      background: $white;
      border-color: $blue;
    }
    &:active,
    &:visited {
      background: $off-white;
    }
  }
  &.solid {
    color: $blue;
    background: $white;
    border-color: $blue;
    &:hover,
    &:focus {
      color: $white;
      background: $blue;
      border-color: $white;
    }
    &:active,
    &:visited {
      background-color: $white;
      color: $blue;
      border-color: $blue;
    }
  }
}
.pure-u-md-1-3 {
  max-width: 400px;
}
.pure-u-md-2-3 {
  max-width: 800px;
}
canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  background: $blue;
}
