.content-container.about.hidden(data-index="2")
    .content
        h1.title About
        p.subtitle I’m Alex Matheson.
        p.subtitle A Bachelor of Software Engineering student and Full-stack Web Developer at Kobe Creations.
        p.subtitle I live in Melbourne, Australia.
        p I programmed my own games and projects throughout high school, and from that developed a keen understanding of computers and code. From 2014 to 2018 I studied a Bachelor of Software Engineering at RMIT University. In 2017 I interned as a junior web developer at Kobe Creations, and now work there as a full-stack web developer.
        p I have a strong passion for web development and design which influences my professional work, as well as my side projects.
        h1.title Skills
        p Skills are coming soon :^)