.content.contact.hidden(data-index="4")
    h1.title Contact
    p This page isn't done yet - but you can still send me an email at
    include ../img/svg/email.svg
    p ... or get in touch via LinkedIn
    a.large(href="https://www.linkedin.com/in/alex-matho/") www.linkedin.com/in/alex-matho