.content-container.home(data-index="1")
    .content
        .site-title-container
            h1.site-title: span Hi.
            h1.site-title I’m Alex
            h1.site-sub.title Full-stack Web Developer and Designer
            p From Melbourne, Australia