.navbar
    a(href="/" name="Home"): h1.title Matho
    .page-nav-container
        ul.page-nav
            li.page-nav-entry: a.page-nav-link.home(onclick='goto("")' href="javascript:;")
                span Home
                include ../img/svg/home.svg
            li.page-nav-entry: a.page-nav-link.about(onclick='goto("about")' href="javascript:;")
                span About
                include ../img/svg/about.svg
            li.page-nav-entry: a.page-nav-link.projects(onclick='goto("projects")' href="javascript:;")
                span Projects
                include ../img/svg/projects.svg
            li.page-nav-entry: a.page-nav-link.contact(onclick='goto("contact")' href="javascript:;")
                span Contact
                include ../img/svg/contact.svg
    ul.page-nav.external-links
        li.page-nav-entry.external-link: a.page-nav-link(href="https://github.com/Toofifty/" target="_blank" rel="noopener")
            span Github
            include ../img/svg/github.svg
        li.page-nav-entry.external-link: a.page-nav-link(href="https://www.linkedin.com/in/alex-matho/" target="_blank" rel="noopener")
            span LinkedIn
            include ../img/svg/linkedin.svg