.content.projects.hidden(data-index="3")
    h1.title Projects
    p Here’s a handful of projects I’ve done in my spare time -- see them all on my 
        a(href="https://github.com/Toofifty") Github
    .projects-container
        include projects/flerbwar.pug
        include projects/vue-magic-tables.pug
        include projects/matho-me.pug
        include projects/p5.pug
        include projects/p5js.pug
        include projects/paddocks.pug
        include projects/history-server.pug
        include projects/polygen.pug
        include projects/link-shortener.pug
        include projects/ascii-gen.pug
        include projects/mc-modelr.pug
        include projects/thegreatsub.pug