@import url(https://fonts.googleapis.com/css?family=Lato|Raleway);

* {
}

a { cursor: pointer; }

body {
	background: #222;
	margin: 0;
}

/*** Generic ***/

.ko-bg {
	background: hsl(0, 50%, 50%);
}

/*** Content ***/
.content {
	font-family: "Lato", sans-serif;
	margin: 0 auto;
	padding: 10px 15%;
	padding-bottom: 50px;
}

.content > h2 {
	margin: 0;
	padding: 60px 0;
	text-align: center;
	text-transform: uppercase;
}

.content-dark {
	background: #222;
	color: #FFF;
}

.content-light {
	background: #EEE;
	color: #222;
}

/* Recoloured on scroll, does not work 
   properly if the colour is pre-set here */
.ko-hover {}

/* Background-fill button */
.btn {
	color: #FFF;
	display: inline-block;
	font-family: "Lato", sans-serif;
	padding: 10px;
	position: relative;
	text-decoration: none;
	transition: 0.5s;
}
	/* Button hover is handled by jQuery
	   to allow for changing colours */
	.btn:hover {}

	/* Button hover background */
	.btn:after {
		background: #FFF;
		bottom: 0;
		content: "";
		height: 0px;
		left: 0;
		position: absolute;
		transition: 0.5s;
		width: 100%;
		z-index: -1;
	}
	.btn:hover:after { height: 100%; }

	/* Selected button */
	.btn-sel:after { height: 2px; }

	/* Navigation buttons */
	.btn-nav {
		margin: 10px;
		text-transform: uppercase;
	}

/*** Header items ***/

.logo {
	color: #FFF;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 1.2em;
	left: 0;
	margin: 13px;
	padding: 5px;
	position: fixed;
	text-transform: uppercase;
	top: 0;
	transition: 0.5s;
	z-index: 2;
}

.nav {
	color: #FFF;
	margin: 0;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	transition: 0.5s;
	width: 100%;
	z-index: 2;
}

/*** Home/landing panel ***/

#home {
	font-family: "Lato", sans-serif;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

	.color-fill {
		/* vv- default background color */
		background: hsl(0, 50%, 50%);
		height: 100%;
		position: fixed;
		width: 100%;
	}

	.title-container {
		margin-top: 35vh;
		margin-left: auto;
		margin-right: auto;
		min-width: 200px;
		position: relative;
		width: 40%;
	}

		.title-container:before, .title-container:after {
			border: 1px solid rgba(0,0,0,0);
			content: "";
			height: 10%;
			position: absolute;
			width: 10%;
		}

		.title-container:before {
			border-top: 1px solid #FFF;
			border-left: 1px solid #FFF;
			left: -5px;
			top: -5px;
		}

		.title-container:after {
			border-bottom: 1px solid #FFF;
			border-right: 1px solid #FFF;
			bottom: -5px;
			right: -5px;
		}

	.title {
		color: #FFF;
		overflow: hidden;
		padding: 2px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		transition: 1s;
	}

		.title:after {
			background: #FFF;
			content: "";
			height: 0;
			left: -50%;
			position: absolute;
			top: 50%;
			transform: rotate(-20deg);
			transform-origin: 50% 50%;
			transition: 2s;
			width: 200%;
			z-index: -1;
		}

		.title:hover:after {
			top: -225%;
			height: 500%;
		}

		.title-left, .title-right, .buzzword {
			display: inline-block;
			font-size: 1em;
			letter-spacing: 0.3em;
			line-height: 1.5em;
			margin: 10px;
			transition: 0.5s;
			width: 30%;
		}

		.title-left {
			text-align: right;
			padding-bottom: 1.5em;
		}

		.title-right > h2 {
			transition: 0.5s;
		}

		.title-cover {
			position: relative;
			width: 100%;
		}

		.buzzword {
			display: block;
			margin: 0;
		}

		.buzzword-hidden {
			color: rgba(0,0,0,0) !important;
		}

/*** About section ***/
#about {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-top: calc(100vh - 250px);
	position: relative;
	width: 100%;
}

	#about > .content {
		padding: 10px 20%;
	}

	.avatar {
		border-radius: 50%;
		display: inline-block;
		float: left;
		margin-right: 2%;
		vertical-align: middle;
	}

	.blurb {
		color: #888;
		display: block;
		font-family: "Raleway" !important;
		padding: 20px;
		margin-top: auto;
		margin-bottom: auto;
		min-height: 200px;
	}

		.blurb > p {
			line-height: 2em;
			margin: 0;
		}

	.skills-container {
		text-align: center;
		width: 100%;
	}

		.skill {
			background: #DDD;
			border: 1px solid #DDD;
			display: inline-block;
      		height: 3em;
			margin: 0.5%;
			min-width: 100px;
			overflow: hidden;
			position: relative;
			text-align: center;
			width: 15%;
		}

		.skill-progress {
			background: #AAA;
			height: 100%;
			position: absolute;
      		transition: 0.5s;
		}

		.skill-title {
      		background: #EEE;
			color: #000;
			height: 2.0em;
      		margin: 0;
			padding-top: 0.6em;
			position: relative;
			transition: 0.5s;
		}

		.skill-time {
			color: rgba(0,0,0,0);
			font-size: 0.8em;
    		height: 0;
			margin: 4px;
			position: relative;
			transition: 0.25s;
		}

		.skill-time:after {
			content: " experience";
		}

		.skill:hover .skill-title {
			font-size: 0.95em;
			height: 1.4em;
			padding-top: 0.2em;
			transition: 0.25s;
		}

		.skill:hover .skill-progress {
			transition: 0.5s;
			width: 100% !important;
		}

		.skill:hover .skill-time {
			color: #FFF;
		}

/*** Portfolio section ***/
#portfolio { position: relative; }

	#portfolio > .content {
		padding: 10px 5%;
		margin: 0 auto;
		text-align: center;
	}

	.project-container {
		background: #333;
		display: inline-block;
		height: 300px;
		margin: 1.5%;
		position: relative;
		width: 90%;
		width: 300px;
	}

	.project-container > img {
		height: 100%;
		width: 100%;
	}

	.project {
		background: rgba(0, 0, 0, 0.75);
		color: #FFF;
		height: 100%;
		opacity: 0;
		position: absolute;
		text-align: center;
		transition: 0.5s;
		width: 100%;
	}

		.project > h3 {
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			top: 38%;
			transition: 0.5s;
			width: 100%;
		}

		.project > p {
			position: absolute;
			text-align: center;
			top: 15%;
			transition: 1s;
			width: 100%;
		}

		.project > .project-btns {
			bottom: 20%;
			position: absolute;
			text-align: center;
			transition: 1s;
			width: 100%;
			z-index: 1;
		}

		.project:before, .project:after {
			content: "";
			height: 0;
			position: absolute;
			transition: 0.5s;
			width: 0;
		}

			.project:before {
				border-left: 2px solid #FFF;
				border-top: 2px solid #FFF;
				left: 5px;
				top: 5px;
			}

			.project:after {
				border-bottom: 2px solid #FFF;
				border-right: 2px solid #FFF;
				bottom: 5px;
				right: 5px;
			}

		.project:hover:before, .project:hover:after {
			height: 15%;
			width: 15%;
		}

			.project:hover:after {
				bottom: 20px;
				right: 20px;
			}

			.project:hover:before {
				left: 20px;
				top: 20px;
			}

		.project:hover { opacity: 1; }

			.project:hover > h3 { top: 40%; }

			.project:hover > p  { top: 20%; }

			.project:hover > .project-btns { bottom: 25%; }


/*** Contact section ***/
#contact {
	background: #EEE;
	position: relative;
	width: 100%;
}

	#contact > .content {
		padding-bottom: 50px;
		text-align: center;
	}

	.ext-link {
		transform: scale(0.5);
		transition: 0.5s;
	}

	.ext-link:hover {
		transform: scale(0.7);
		transition: 0.25s;
	}

	.form-input {
		background: #222;
		color: #FFF;
		display: block;
		height: 50px;
		margin: 0 auto 40px;
		max-width: 600px;
		width: 90%;
	}

		.form-input label {
			float: left;
			padding: 15px 0;
			text-transform: uppercase;
			width: 30%;
		}

		.form-input input {
			border: none;
			color: #222;
			font-size: 1.3em;
			height: calc(100% - 20px);
			padding: 10px;
			width: calc(70% - 20px);
		}

		.form-input button {
			background: none;
			border: 2px solid #222;
			color: #FFF;
			font-size: 1em;
			height: 100%;
			text-transform: uppercase;
			transition: 0.5s;
			width: 100%;
		}

		.form-input button:hover {
			background: #000;
			border: 2px solid #FFF;
			cursor: pointer;
			transition: 0.5s;
		}

		.form-input + .msg {
			height: 250px;
		}

		textarea {
			border: none;
			color: #222;
			font-size: 1.3em;
			height: calc(100% - 20px);
			padding: 10px;
			resize: none;
			width: calc(70% - 20px);
		}

@media only screen and (max-width: 48em) {

	.nav {
		display: none;
	}

	.title-container {
		margin-top: 20vh;
		width: 90%;
	}

	#about {
		margin-top: calc(50vh);
	}

	#about > .content, .content {
		padding: 10px 5%;
	}

	#about {
	}

		.avatar {
			display: block;
			float: none;
			margin: 0 auto;
			padding: 20px;
		}

}

