.project
    picture.project-img
        source(type="image/webp" srcset=require('../../img/webp/ascii-gen.webp'))
        img(src=require('../../img/png/ascii-gen.png'))
    .project-content
        h1.project-title ASCII Generator
        p Generate text from an image
        .button-container
            a(href="https://github.com/toofifty/ascii-gen")
                include ../../img/svg/github.svg
                | source