.project(style="background-image: url(" + require('../../img/flerbwar.png') + ")")
    .project-content
        h1.project-title Flerbwar
        p An agar.io clone
        .button-container
            a(href="http://flerbwar.matho.me/") Play
            a(href="https://github.com/toofifty/flerbwar")
                include ../../img/github.svg
                | source