.project
    picture.project-img
        source(type="image/webp" srcset='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-srcset=require('../../img/webp/link-shortener.webp'))
        img(src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-src=require('../../img/png/link-shortener.png'))
    .project-content
        h1.project-title Link Shortener
        p Shortens links
        .button-container
            a(href="https://l.matho.me/") Try
            a(href="https://github.com/Toofifty/node-link-shortener")
                include ../../img/svg/github.svg
                | source