.project(style="background-image: url(" + require('../../img/matho-me.png') + ")")
    .project-content
        h1.project-title Matho.me
        p Personal portfolio website
        .button-container
            a(href="https://github.com/toofifty/toofifty.github.io")
                include ../../img/github.svg
                | source