.project(style="background-image: url(" + require('../../img/mc-modelr.png') + ")")
    .project-content
        h1.project-title Minecraft Modeller
        p Web-based JSON model viewer and editor
        .button-container
            a(href="http://model.matho.me/") Try
            a(href="https://github.com/toofifty/mc-modelr")
                include ../../img/github.svg
                | source