.project
    picture.project-img
        source(type="image/webp" srcset=require('../../img/webp/mc-modelr.webp'))
        img(src=require('../../img/png/mc-modelr.png'))
    .project-content
        h1.project-title Minecraft Modeller
        p Web-based JSON model viewer and editor
        .button-container
            a(href="http://model.matho.me/") Try
            a(href="https://github.com/toofifty/mc-modelr")
                include ../../img/svg/github.svg
                | source