.project
    picture.project-img
        source(type="image/webp" srcset='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-srcset=require('../../img/webp/p5.webp'))
        img(src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-src=require('../../img/png/p5.png'))
    .project-content
        h1.project-title P5
        p Collection of animations in Processing
        .button-container
            a(href="https://github.com/Toofifty/p5")
                include ../../img/svg/github.svg
                | source