.project(style="background-image: url(" + require('../../img/p5.png') + ")")
    .project-content
        h1.project-title P5
        p Collection of animations in Processing
        .button-container
            a(href="https://github.com/Toofifty/p5")
                include ../../img/github.svg
                | source