.project
    picture.project-img
        source(type="image/webp" srcset=require('../../img/webp/p5js.webp'))
        img(src=require('../../img/png/p5js.png'))
    .project-content
        h1.project-title P5 JS Showcase
        p Showcase of some Processing sketches ported to JS
        .button-container
            a(href="https://p5js.matho.me/") Try
            a(href="https://github.com/Toofifty/p5js")
                include ../../img/svg/github.svg
                | source