.project
    picture.project-img
        source(type="image/webp" srcset=require('../../img/webp/paddocks.webp'))
        img(src=require('../../img/png/paddocks.png'))
    .project-content
        h1.project-title Paddocks.io
        p Browser-based multiplayer paddocks game
        .button-container
            a(href="http://paddocks.matho.me/") Play
            a(href="https://github.com/toofifty/paddocks.io")
                include ../../img/svg/github.svg
                | source