.project(style="background-image: url(" + require('../../img/paddocks.png') + ")")
    .project-content
        h1.project-title Paddocks.io
        p Browser-based multiplayer paddocks game
        .button-container
            a(href="http://paddocks.matho.me/") Play
            a(href="https://github.com/toofifty/paddocks.io")
                include ../../img/github.svg
                | source