.project(style="background-image: url(" + require('../../img/polygen.png') + ")")
    .project-content
        h1.project-title Polygen
        p Generate animatable polygons in a canvas
        .button-container
            a(href="https://github.com/toofifty/polygen")
                include ../../img/github.svg
                | source