.project(style="background-image: url(" + require('../../img/thegreatsub.png') + ")")
    .project-content
        h1.project-title The Great Sub
        p Reddit Bot "top of all time" link collector
        .button-container
            a(href="https://www.reddit.com/r/thegreatsub/") Browse
            a(href="https://github.com/Toofifty/the-great-sub")
                include ../../img/github.svg
                | source