.project
    picture.project-img
        source(type="image/webp" srcset='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-srcset=require('../../img/webp/thegreatsub.webp'))
        img(src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-src=require('../../img/png/thegreatsub.png'))
    .project-content
        h1.project-title The Great Sub
        p Reddit Bot "top of all time" link collector
        .button-container
            a(href="https://www.reddit.com/r/thegreatsub/") Browse
            a(href="https://github.com/Toofifty/the-great-sub")
                include ../../img/svg/github.svg
                | source