.project
    picture.project-img
        source(type="image/webp" srcset=require('../../img/webp/vue-magic-tables.webp'))
        img(src=require('../../img/png/vue-magic-tables.png'))
    .project-content
        h1.project-title Vue Magic Tables
        p Efficient interactive tables for large datasets in Vue.js
        .button-container
            a(href="https://github.com/toofifty/vue-magic-tables")
                include ../../img/svg/github.svg
                | source