doctype html
html(lang="en")
    head
        title="Alex Matheson · web"
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="Description" content="I'm Alex Matheson. A Bachelor of Software Engineering student at RMIT, Melbourne and a Full stack Web Developer at Kobe Creations. I have a strong passion for design and programming which comes together when I create websites and apps.")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content ='IE=edge')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Gudea|Open+Sans")
    block body
        .background
            canvas#polygen
        include components/nav.pug
        .content-switch
            include components/home.pug
            include components/about.pug
            include components/projects.pug
            include components/contact.pug