doctype html
html(lang="en")
    head
        title="Alex Matheson · web"
        meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content ='IE=edge')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Gudea|Open+Sans")
    block body
        .background
            canvas#polygen
        include components/nav.pug
        .content-switch
            include components/home.pug
            include components/about.pug
            include components/projects.pug
            include components/contact.pug